nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
  a.navbar-brand(href="/") 文章管理系统
  ul.nav.navbar-nav
    li.nav-item.active
      a.nav-link(href="/") 首页
    li.li.nav-item
      a.nav-link(href="/user/register") 用户注册
    li.li.nav-item
      a.nav-link(href="/category/list") 类别管理
  div.pull-sm-right
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link(href="#") 用户注册
      li.nav-item
        a.nav-link(href="#") 用户登录