doctype html
html(lang='zh_CN')
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title #{title}-静敏软件工作室
    script(src='/public/jquery/dist/jquery.js')
    script(src='/public/angular/angular.js')
    script(src='/js/app.min.js')
    block css
      link(rel='stylesheet', href='/public/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
  body(ng-app="myApp")
    include head
    block content
  block js
    script(src='/public/bootstrap/dist/js/bootstrap.min.js')
    if ENV_DEVELOPMENT
      script(src='http://localhost:35729/livereload.js')
